pandas
numpy
matplotlib
plotnine
torch
torchaudio
torchvision
torchlibrosa
tensorboard
sentence_transformers
IPython
textwrap
scipy
fire
tqdm
scikit-learn
librosa
nnAudio
timm
transformers
einops
easydict
datetime